body {
    background-color: #bbcddd;
}

.center-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container-box {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f8f9fa;
    width: 100%;
    max-width: 400px;
}

.container-box h1 {
    margin-bottom: 15px;
}

.container-box a {
    margin: 5px;
}

footer {
    background-color: #212529;
    color: #ffffff;
}

footer a {
    text-decoration: none;
    transition: 0.3s;
}

footer a:hover {
    color: #17a2b8;
    text-decoration: underline;
}
